- content_for :title, "#{@reading.name} Bookmarks | Kenneth's Reading List App"
- content_for :my_heading, "#{@reading.name} | Bookmarks"

table.table.table-hover.table-responsive#top
  thead.thead-inverse
    th Page number
    th colspan="3" Description
  tbody
    - @bookmarks.each do |bookmark|
      tr
        td.align-middle = bookmark.page_number
        td.align-middle = bookmark.description
        td = link_to 'Edit', edit_reading_bookmark_path(@reading, bookmark), class: 'btn btn-primary'
        td = link_to 'Remove', reading_bookmark_path(@reading, bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

a.text-right href="#top" Back to top!

br
br

p
  = link_to 'Add a bookmark', new_reading_bookmark_path(@reading), class: 'btn btn-outline-primary m-2'
  = link_to 'Back to home', readings_path, class: 'btn btn-outline-info m-2'
