.my_table {
  padding: 10px;
  margin: 30px 0px;
}

.unread_button {
min-width: 80px;
}

.unread_button:hover {
  background-color: rgb(114, 157, 92);
}

.read_button {
  background-color: rgb(114, 157, 92);
}

.read_button:hover {
  background-color: grey;
}
